@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/font.css);

.page {
	font-family: 'Inter', Arial, sans-serif;
	height: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.body {
	background-color: #2F2F2F;
	max-width: 100vw;
  min-height: 100vh;
}

.main {
  height: 100%;
	max-width: 100%;
}